In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
data = pd.read_csv('weight-height.csv')
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
data['Gender'] = data['Gender'].replace('Male', 0)
data['Gender'] = data['Gender'].replace('Female', 1)
data

      Gender     Height      Weight
0          0  73.847017  241.893563
1          0  68.781904  162.310473
2          0  74.110105  212.740856
3          0  71.730978  220.042470
4          0  69.881796  206.349801
...      ...        ...         ...
9995       1  66.172652  136.777454
9996       1  67.067155  170.867906
9997       1  63.867992  128.475319
9998       1  69.034243  163.852461
9999       1  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
y = data[['Weight']]
x = data[['Gender', 'Height']]

In [5]:
linreg = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(x, y)

model = linreg.fit(X_train, y_train)

In [8]:
accuracy = model.score(X_test, y_test)
print(f'Akurasi: {accuracy*100}')

Akurasi: 90.04827613507597

In [9]:
joblib.dump((model), "linreg_model.pkl")

['linreg_model.pkl']